{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<h1>Sign in</h1>
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Login</title>

    <link rel="stylesheet" href="css/styles.css" media="screen" type="text/css" />


</head>

<body>

  <html lang="en-US">
  <head>

    <meta charset="utf-8">

    <title>Login</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->

  </head>

  <body>

    <div class="container" style="height:500px">

      <div id="login">

        <form action="{{path('security_login')}}" method="post">

          <fieldset class="clearfix" style="padding-top:100px;">

            <p style="color:white">Email:</p><br><input type="text" name="_username" style="width:100%" ><br>
            <p style="color:white">Password<p><input type="password" name="_password" style="width:100%">
            <p><input type="submit" value="Sign In"></p>

          </fieldset>

        </form>

        <p>Not a member? <a href="#">Sign up now</a><span class="fontawesome-arrow-right"></span></p>

      </div> <!-- end login -->

    </div>

  </body>
</html>

</body>

</html>

{% endblock %}